.maincard{
width: 90%;
	padding: 24px 32px;
	background: #e7e4e4;
	
}

.hadding{
    color: gray;
    display: flex;
    justify-content: end;
    font-size:15px;
    font-weight: 500;
}

.center{
    display: flex;
    justify-content: space-evenly;
}


.home-p{
   
    font-size:20px;
    font-weight: 500;
color: rgb(45, 44, 44);
}

.home-s{
    color: rgb(45, 44, 44);
    font-weight: bold;
    font-size: 2em;
}

.away-p{
    font-size:20px;
    font-weight: 500;
color: rgb(45, 44, 44);
}

.away-s{
    color: rgb(45, 44, 44);
    font-weight: bold;
    font-size: 2em;
    display: flex;
    justify-content: end;
}

.th{
    display: flex;
    justify-content: center;
}

.table{
    font-size:16px;
    font-weight: 700;
    color: rgb(45, 44, 44);
}

.table td{
margin: 3px;
padding: 4px;
}

.color{
    color: gray;
}

.sub table{
    text-align: center;
}